{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/musician-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="musician-container">
  <div class="musician-img">
    <img 
      src="{% static 'images/musician-icon.svg' %}" 
      alt="A Musician"
    >
  </div>
  <div class="musician-details">
    <h1>{{ musician.name }}</h1>
      <h2>Is a {{ musician.age }} year old {{ musician.genre }} artist.</h2>
      <p><small>{{ musician.description }}</small></p>
    <div class="musician-actions">
      <a href="{% url "musicians_update" musician.id %}" class="btn warn">Update</a>
      <a href="{% url "musicians_delete" musician.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="songs-toy-container">
  <section class="songs">
    <div class="subsection-title">
      <h2>Songs</h2>
    </div>
    <h3>Add a Song</h3>
    <form 
      action="{% url 'add_song' musician.id %}"
      method="POST"
      class="subsection-content"
    >
      {% csrf_token %}
      {{ song_form.as_p }}
      <button type="submit" class="btn submit">Add Song</button>
    </form>
    <h3>All Songs</h3>
    {% if musician.song_set.all.count %}
      <table>
        <thead>
          <tr><th>Song</th><th>Album</th></tr>
        </thead>
        <tbody>
          {% for song in musician.song_set.all %}
            <tr>
              <td>{{song.song_name}}</td>
              <td>{{song.album}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="subsection-content">No songs added yet</p>
    {% endif %}
  </section>
      <section class="streams">
      <div class="subsection-title">
        <h2>Streaming Services</h2>
      </div>
      <h3>{{ musician.name }}'s Streaming Services</h3>
      <div class="subsection-content">
        {% if musician.streams.count %}
          {% for streaming in musician.streams.all %}
            <div class="streaming-container">
              <a href="{% url 'streams_detail' streaming.id %}">
              <p>{{ streaming.streaming_service }}</p>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-streams" style="color: red">{{musician.name}} doesn't have any streaming services yet!</p>
        {% endif %}
      </div>
      <h3>Available Streaming Services</h3>
      <div class="subsection-content">
        {% if streams.count %}
          {% for streaming in streams.all %}
            <div class="streaming-container">
              <a href="{% url 'streams_detail' streaming.id %}">
                <p>{{ streaming.streaming_service }}</p>
              </a>
              <form action="{% url 'assoc_streaming' musician.id streaming.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn submit">Add Streaming Service</button>
              </form>
            </div>
          {% endfor %}
        {% else %}
        <p class="all-streams">
          {{musician.name}} already has all the available streaming services!
        </p>
      {% endif %}
      </div>
    </section>
  </div>
</div>
{% endblock %}